<nav>
  <ul>
    <li routerLink="/">
      <img class="logo" src="../../../assets/img/logo.png" alt="dbz-logo" />
    </li>
    <li routerLink="/personajes">
      <img src="../../../assets/img/navPersonajes.png" alt="personajes" />
    </li>
    <li routerLink="/gestion">
      <img src="../../../assets/img/navGestion.png" alt="gestion" />
    </li>
    <li>
      <a href="https://dragonball.fandom.com/es/wiki/Dragon_Ball_Wiki_Hispano"><img class="outerLogo" src="../../../assets/img/outerLogo.png" alt="outerLogo"></a>
    </li>
  </ul>
</nav>
