@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url("https://wallpaperaccess.com/full/629584.png");
  background-repeat: no-repeat;
  background-size: cover;
}
